[submodule "public/steal"]
	path = public/steal
	url = git@github.com:jupiterjs/steal.git
[submodule "public/jquery"]
	path = public/jquery
	url = git@github.com:jupiterjs/jquerymx.git
[submodule "public/funcunit"]
	path = public/funcunit
	url = git@github.com:jupiterjs/funcunit.git
[submodule "public/funcit"]
	path = public/funcit
	url = git@github.com:jupiterjs/funcit.git
[submodule "public/mxui"]
	path = public/mxui
	url = git@github.com:jupiterjs/mxui.git
